.container {
  background: #222;
  padding: 6px 6px 12px 6px;
  border-radius: 12px 12px 0 0;
  position: relative;
  border: 1px solid;

  button {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 6px;
    background: #353535;
    border: 1px solid #4c4c4c;
    color: #ccc;
    outline: none;
    transition-duration: 0.3s;

    &:hover {
      background: #555;
    }
  }
}

.color-preview {
  height: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
